<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <div class="mb-4 mr-2">
              <p class="card-text text-justify ">{{aboutLogin}}</p>
          </div>
          
          <form class="mt-sm-5 mr-2" [formGroup]="signIn" (ngSubmit)="validate()">
              <div class="form-group row">
                  <label for="username" class="col-sm-4 label-control text-left">Username</label>
                  <input type="text" class="col-sm-8 form-control" formControlName = "username">
              </div>
              <div  class="row alert alert-danger mt-0 mb-3" *ngIf = "signIn.get('username').invalid && signIn.get('username').dirty">
                  This field is required!
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-4 control-label">Password</label>
                <input type="password" class="col-sm-8 form-control" formControlName = "password">
                
              </div>
              <div  class="row alert alert-danger mt-0 mb-4" *ngIf = "signIn.get('password').invalid && signIn.get('password').dirty">
                  This field is required!
              </div>
              <div class="text-center mt-sm-5">
                  <button class="btn btn-primary btn-block" type="submit">Login</button>
              </div>
          </form>

          <div class="alert alert-danger mt-3" *ngIf="invalid">
              Invalid Username/Password!
            </div>   
          
        </div>
      </div>
    </div>
  </div>
</div>